.p1 {
  color: green;
  font-size: 30px;
  margin: 20px 30px;
}
.parent1 {
  color: green;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#child1 {
  color: aqua;
  font-weight: bold;
}
