* {
  margin: 0px;
  padding: 0px;
  font-family: tahoma, arial, helvetica;
}
header {
  padding: 40px 0px;
  background-color: red;
  text-align: center;
}
header h1 {
  background-color: red;
  color: white;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  padding: 5px 0px;
  border: 5px solid white;
  border-radius: 5px black;
  display: inline;
}
.banner img {
  position: relative;
  max-width: 100%;
}
